{% extends "base.html" %}

{% block title %}
  Search Employees
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <h1 class="page-title">
        Search Employees
      </h1>
      <form method="POST" class="form-search-employees">
        {{ form.csrf_token }}
        {{ form.date_from.label() }}
        {{ form.date_from(class="form-control", placeholder="Birthdate From") }}
        {{ form.date_to.label() }}
        {{ form.date_to(class="form-control", placeholder="Birthdate To") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
  </main>
{% endblock %}
